/*------------------------------------*\
    $Colors
\*------------------------------------*/

// 1. Descriptive                      ==============================

$white: 					#eff1f5;
$black: 					#000000;
$grey: 						#666464;
$darkgrey: 					#333333;
$lightgrey: 				#848484;
$whitegrey: 				#e5e5e5;

$blue: 						#d08775;
$green: 					#ab5765;

// 2. Functional                      ==============================

$bodycolor: 				$white;
$textcolor: 				$darkgrey;
$abstractcolor: 			$lightgrey;
$dividercolor: 				$whitegrey;

$accentcolor: 				$green;