<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="I'm a young and experienced designer who fell in love with designing as well as writing. I share my experiences with developing and designing things on the internet.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/assets/favicon.ico">
        <link rel="stylesheet" href="{{ site.url }}/build/style.min.css">

        <!-- init jquery -->        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
        <!-- Load fonts from typekit -->
        <script type="text/javascript" src="http://use.typekit.net/rub4njq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script type="text/javascript" src="{{ site.url }}/js/custom.js"></script>
    </head>
    <body>
        <progress value="0"></progress>

        <header class="header" role="banner"> <!-- BEGIN HEADER -->
            
            <div class="logo"><a href="{{ site.url }}">thiesbrake</a></div>

            <nav class="main-nav" role="navigation">
                <ul>
                    <li><a href="{{ site.url }}">home</a></li>
                    <li><a href="https://twitter.com/thsbrk" target="_blank">@thsbrk</a></li>
                </ul>
            </nav>

            <div class="clearfix"></div>

        </header> <!-- END HEADER -->